<form class="grid grid-cols-1 gap-6 m-16" >
    <h1 class="text-5xl text-blue-500 text-center font-black col-span-1">Vanzuke</h1>
    <p class="col-span-1">
Contributor ranking for your Github repository that can be displayed in README.md.
    </p>
    <label for="repo" class="lbl"><b>Repository :</b>
        <div w-full>
            https://github.com/<input type="text" name="repo" id="repo" placeholder="kurehajime/vanzuke" class="rounded">
        </div>
    </label>
    <label for="title" class="lbl"><b>Title :</b>
        <div w-full>
            <input type="text" name="title" id="title" value="👑Contributors👑" class="rounded">
        </div>
    </label>
    <label for="count" class="lbl"><b>Number of people to display :</b>
        <div w-full>
            <input type="number" name="count" id="count" value="5" class="rounded">
        </div>
    </label>
    <label for="ago" class="lbl"><b>Since ... ago :</b>
        <div w-full id="ago" name="ago">
            <div>Years:</div><input type="number" name="years" id="years" value="1" class="rounded" max="99">
            <div>month:</div><input type="number" name="month" id="month" value="0" class="rounded"max="99">
            <div>Days:</div><input type="number" name="days" id="days" value="0" class="rounded"max="99">
        </div>
    </label>
    <input type="button" id="make" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" value="Generate" class="w-full">
    <label for="result" class="lbl"><b>image URL :</b>
        <div class="relative w-full">
            <input type="text"  name="result" id="result" class="h-14 w-96  pr-20 rounded-lg z-0 w-full bg-gray-100" readonly>
            <div class="absolute top-2 right-2"> 
                <button type="button" id="copy_result" class="h-10 w-20 rounded-lg bg-white border">📋</button>
            </div>
        </div>
    </label>
    <label for="result_tag" class="lbl"><b>Markdown Tag :</b>
        <div class="relative w-full">
            <input type="text"  name="result_tag" id="result_tag" class="h-14 w-96  pr-20 rounded-lg z-0 w-full bg-gray-100" readonly>
            <div class="absolute top-2 right-2">
                <button type="button" id="copy_result_tag" class="h-10 w-20 rounded-lg bg-white border">📋</button>
            </div>
        </div>
    </label>
    <img id="preview">
</form>

<%= javascript_pack_tag 'make/index' %>